<!DOCTYPE html>
<html lang="ko"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
   
    </style>
    <link href="/stylesheets/search_success_style.css" rel="stylesheet" type="text/css">   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#overview_form').hide()
            $('#activity_form').hide()
            $('#repute_form').hide()
            $('#tip_form').hide()

           $('#overview_edtbtn').on('click',function(){
               $('#overview_form').show()
               $('#overview_edtbtn').hide()
           })
           $('#activity_edtbtn').on('click',function(){
               $('#activity_form').show()
               $('#activity_edtbtn').hide()
           })
           $('#repute_edtbtn').on('click',function(){
               $('#repute_form').show()
               $('#repute_edtbtn').hide()
           })
           $('#tip_edtbtn').on('click',function(){
               $('#tip_form').show()
               $('#tip_edtbtn').hide()
           })

           
           $('#overview_sub').on('click',function(){
               $('#overview_edtbtn').show()
               $('#overview_form').hide()
           })
           $('#activity_sub').on('click',function(){
               $('#activity_edtbtn').show()
               $('#activity_form').hide()
           })
           $('#repute_sub').on('click',function(){
               $('#repute_edtbtn').show()
               $('#repute_form').hide()
           })
           $('#tip_sub').on('click',function(){
               $('#tip_edtbtn').show()
               $('#tip_form').hide()
           })
        })
    </script>
    
</head>
<body>
 <nav class="topMenu" >
        <ul class = 'navbar'>
                <li>
                    <a class="logo" href="/">
                        <img src="/images/logo.png" class='dsu' width = "120" height="60" align="center" />
                    </a>
                </li>
        </ul>
        <div class="input-form">
                <form action ='/result' method="POST">
                        <input type="search" name="text" placeholder="검색하시오" class = 'search'/>
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                </form>
        </div>                              
    </nav>
<!--<a href="#" onclick="doucument.getElementById('myForm_2').submit()" id="search_edt">편집완료</a>
<a href="#" onclick="document.getElementById('myForm_3').submit();" id="intro_edt">편집</a>
<a href="#" onclick="document.getElementById('myForm_4').submit();" id="img_edt">편집</a>
<a href="#" onclick="document.getElementById('myForm_5').submit();" id="talk_edt">편집</a>-->




    <h4>검색어</h4>
    <hr align="left" width="30%">
    <div id="text" class="b"><%= text %></div>
    <br>
    
    
    <h3>개요</h3>
    <hr align="left" width="30%">
    
    <div class="b" name="overview_circle"><%= overview_circle %></div>
   
    <form action="/circle_edit" method="POST" id="overview_form" name="overview_form">
        <input type="text" name="overview_in" value = "<%= overview_circle %>" id="overview_in">
        <input type="hidden" name="key" value="1">
        <input type="hidden" name="text" value="<%= text%>">
        <input type="submit" value="완료" id="overview_sub">
    </form>
    <button class="btn" id=overview_edtbtn>편집</button> 
    <br>


    <h3>활동내역</h3>
    <hr align="left" width="30%">
    <div class="b"><%= activity %></div>
    <form action="/circle_edit" method="POST" id="activity_form" name="activity_form">
        <input type="text" name="activity_in" value="<%= activity %>" id="activity_in">
        <input type="hidden" name="key" value="2">
        <input type="hidden" name="text" value="<%= text%>">
        <input type="submit" value="완료" id="activity_sub">
    </form>
    <button class="btn" id=activity_edtbtn>편집</button>
    <br>

    <h3>평판</h3>
    <hr align="left" width="30%">
    <div class="b"><%= repute %></div>
    <form action="/circle_edit" method="POST" id="repute_form" name="repute_form">
        <input type="text" name="repute_in" value="<%= repute %>" id="repute_in">
        <input type="hidden" name="key" value="3">
        <input type="hidden" name="text" value="<%= text%>">
        <input type="submit" value="완료" id="repute_sub">
    </form>
    <button class="btn" id=repute_edtbtn>편집</button>
    <br>

    <h3>참고사항</h3>
    <hr align="left" width="30%">
    
    <div class="b"><%= tip %></div>
    
    <form action="/circle_edit" method="POST" id="tip_form" name="tip_form">
        <input type="text" name="tip_in" value="<%= tip %>" id="tip_in">
        <input type="hidden" name="text" value="<%= text %>">   
        <input type="hidden" name="key" value="4">
        <input type="submit" value="완료" id="tip_sub">
    </form>
    <button class="btn" id=tip_edtbtn>편집</button>
    <br>

        
</body>
</html>